[Unit]
Description=ARP Logger
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/arp_logger.sh
Restart=on-failure
User=root
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
